<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8' />
    <title>Taxi</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.33.0/mapbox-gl.css' rel='stylesheet' />
     <link href='./styles/index.css' rel='stylesheet' />
    <link href='https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css' rel='stylesheet' />
    <link href="./styles/speedometer.css" rel="stylesheet" type="text/css" />
</head>
<body>
  <div id='car'><img id="drivecar" src="/img/car-drive.png" class="drivecar"></div></div>
  <div id='map'></div>
  <div id="phone">
    <div id="phoneCont">
      <div id="smallmap">
      <div id="notice" class="notice"><span id="winnerText"></span><span id="seconds"></span></div></div>
      <div id="satNav">
        <div class='distance'>
          <h3 id='location'></h3>
          <h3 id='distanceTag'></h3>
        </div>
      </div>
    </div>
  </div>
  <div id="login">
    <div class='loginCont'>
        <div id='joinTitle'>
          <h1>Taxi Racer:</h1>
        </div>
        <img id="Graffiti" src="./img/Graffiti.png" alt="">
        <div class='nameCont'>
            <input type="text" name="name" id="username" placeholder="Enter Nickname" />
            <div class='joinCont'>
                <input type="button" name="button" id="join" value="Join">
            </div>
        </div>

    </div>
</div>
<div class="myValuesCont">
  <input type="hidden" id="myValues" />
</div>
</body>
<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.33.0/mapbox-gl.js'></script>
<script src="https://cdn.pubnub.com/sdk/javascript/pubnub.4.4.4.min.js"></script>
<script src='https://code.jquery.com/jquery-3.1.1.min.js'></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
<script src="./scripts/speedometer.js"></script>
<script src='./scripts/mutliplayer.js'></script>
<script src='./scripts/map.js'></script>
<script type="text/javascript">
  $("#myValues").myfunc({divFact:10});
</script>
</html>
