<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8' />
    <title>Taxi</title>
    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.33.0/mapbox-gl.css' rel='stylesheet' />
    <link href='./styles/index.css' rel='stylesheet' />
</head>
<body>
  <div id='car'></div>
  <div id='map'></div>
  <div id="smallmap"></div>
</body>
<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.33.0/mapbox-gl.js'></script>
<script src="https://cdn.pubnub.com/sdk/javascript/pubnub.4.4.4.min.js"></script>
<script src='https://code.jquery.com/jquery-3.1.1.min.js'></script>
<script src='./scripts/mutliplayer.js'></script>
<script src='./scripts/map.js'></script>
</html>
